# Web Framework
Flask==2.0.1
Werkzeug==2.0.1
Jinja2==3.0.1

# Encryption
pycryptodome==3.10.1

# Audio Processing
numpy==1.19.5
scipy==1.5.4
Pillow==8.2.0

# Development Tools (opsional)
# flask-debugtoolbar==0.11.0 